name: Build
on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Bun 1.0.11
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: 1.3.2

      - name: Install dependencies
        run: bun install

      - name: Check formatting
        run: bun run prettier -c src

      - name: Run tests
        run: bun test

      - name: Check types and compile
        run: bun run build
